<nav class="navigation">

    <div class="inner">

        <div class="navigationMenuLogo">
            <a href="">
                <img src="{{ asset('img/logo-notre-dame-sacre-coeur.svg') }}">
            </a>
        </div>

        <div class="navigationMenuLeft">
            <ul>
                <li><a href="">ETABLISSEMENTS</a></li>
                <li><a href="">PROJET D'ETABLISSEMENT</a></li>
                <li><a href="">INSCRIPTION</a></li>
                <li><a href="">INTERNAT</a></li>
                <li><a href="">CDI</a></li>
                <li><a href="">PASTORAL</a></li>
                <li><a href="">RESTAURATION</a></li>
            </ul>
        </div>

        <div class="navigationMenuRight">
            <a href="" class="btn purpule">ecole directe</a>
            <a href="" class="btn">contactez-nous</a>
        </div>

        <div class="clear"></div>

    </div>
    
</nav>