<nav class="navigation">

    <div class="inner">

        <div class="navigationMenuLogo">
            <a href="">
                <img src="{{ asset('img/logo-college-du-sacre-coeur.svg') }}">
            </a>
        </div>

        <div class="navigationMenuLeft">
            <ul>
                <li><a href="">ACTUALITÉS</a></li>
                <li><a href="">CLASSES</a></li>
                <li><a href="">ACTIVITÉS</a></li>
                <li><a href="">INSCRIPTION</a></li>
            </ul>
        </div>

        <div class="navigationMenuRight">
            <a href="{{ path('app_index') }}" class="btn purpule">retour portail</a>
            <a href="" class="btn">contactez-nous</a>
        </div>

        <div class="clear"></div>

    </div>
    
</nav>